.bannerContainer {
    margin-left: -10px;
    margin-top: -25px;
    margin-right: -10px;
    background-image: linear-gradient(to right, blue, steelblue, blue , midnightblue);
    min-height: 200px;
    padding-top: 35px;
}

body {
    font-family: "Comic Sans MS";
}

.navBar {
    width: 100%;
    height: 50px;
    background-color: yellow;
    border-style: solid;
    border-color: hotpink;
}

.bannerContent {
    text-align: center;
    color: hotpink;
    opacity: 0.7;
    /* background-color: blue; */
    border-radius: 20px;
    width: 40%;
    margin-left: 30%;
    /* color: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);  */
}


.profilePic {
    border-radius: 65%;
}

.about {
    width: 70%;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.uglyAbout {
    background-color: hotpink;
    font-weight: 900;
    border-radius: 30px;
}

.horizAlign {
    display: flex;
    flex-direction: row;
}

.pusher {
    margin-left: 17%;
}

.alignText{
    text-align: center;
}

.vertMenu {
    min-width: 25%;
    border-style: solid;
    border-color: yellowgreen;
    background-color: yellowgreen;
    max-height: 450px;
    text-align: center;
}

.skillsHeader {
    color: black;
    font-size: 20px;
}

.uglyPoints {
    color: steelblue;
    font-size: 12px;
}

.whiteText {
    color: white;
}

.uglyFontMatch {
    font-family: Arial, Helvetica, sans-serif;
}