.bannerContainer {
    margin-left: -10px;
    margin-top: -25px;
    margin-right: -10px;
    background-image: linear-gradient(to right, blue, steelblue, blue , midnightblue);
    min-height: 200px;
    padding-top: 35px;
}

body {
    font-family: "Comic Sans MS";
}

/* navbar css reference: https://www.w3schools.com/css/css_navbar.asp accessed: Feb 24, 2019 */

.navBar {
    width: 30%;
    min-height: 30px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background-color: yellow;
    border-style: solid;
    border-color: hotpink;
}

.bannerContent {
    text-align: center;
    color: hotpink;
    opacity: 0.7;
    border-radius: 20px;
    width: 40%;
    margin-left: 30%;  
}


.profilePic {
    border-radius: 65%;
}

.about {
    width: 70%;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.uglyAbout {
    background-color: hotpink;
    font-weight: 900;
    border-radius: 30px;
}

.horizAlign {
    display: flex;
    flex-direction: row;
}

.pusher {
    margin-left: 17%;
}

.alignText{
    text-align: center;
}

.vertMenu {
    min-width: 25%;
    border-style: solid;
    border-color: yellowgreen;
    background-color: yellowgreen;
    max-height: 450px;
    text-align: center;
}

.skillsHeader {
    color: black;
    font-size: 20px;
}

.uglyPoints {
    color: steelblue;
    font-size: 12px;
}

.whiteText {
    color: white;
}

.uglyFontMatch {
    font-family: Arial, Helvetica, sans-serif;
}

.uglyOptions {
    display: inline;
    border-right: 1px solid black;
}

.uglySeparator {
    border-right: 1px solid black;
    margin-left: 3px;
}