body {
    font-family: Arial, Helvetica, sans-serif
}

.bannerContainer {
    margin-left: -10px;
    margin-top: -25px;
    margin-right: -10px;
    background-image: linear-gradient(#13547a, #80d0c7);
    min-height: 200px;
    padding-top: 35px;
}

/* navbar css reference: https://www.w3schools.com/css/css_navbar.asp accessed: Feb 24, 2019 */
.navBar {
    height: 50px;
    background-color: black;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    list-style-type: none;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 20%;
}

.navBarLinks li a{
    color: white;
}

.bannerContent {
    text-align: center;
    color: white;
    border-radius: 20px;
    width: 40%;
    margin-left: 30%;
}

.profilePic {
    border-radius: 65%;
}

.about {
    width: 70%;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.horizAlign {
    display: flex;
    flex-direction: row;
}

.pusher {
    margin-left: 17%;
}

.alignText{
    text-align: center;
}

.vertMenu {
    min-width: 25%;
    border-style: solid;
    border-color: lightgray;
    background-color: lightgray;
    max-height: 450px;
    text-align: center;
}

.skillsHeader {
    color: steelblue;
    font-size: 25px;
}

.options {
    color: white;
    display: inline;
    font-size: 25px;
    margin-left: 10px;
}

.options:hover{
    cursor: pointer;
    color: steelblue;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: steelblue;
    text-decoration: none;
}
